:root{/*Se le conoce como pseudoelementos, custom property son codigos que no existen en HTML*/
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #91B22C;
    --secundario: #182E63;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --fuente-principal: 3.8rem;
}

*{
    margin: 0;
    padding: 0;
}
/* Globales */
html{
    /* font-size: 62.5%; */
    box-sizing: border-box;
    /* scroll-snap-type: y mandatory;  */
    /*Scrol de arriba a abajo, si fuer de izquierda a derecha tendriamos que usar x mandatory*/
}
body{
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Krub', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor{
    max-width: 120rem;/*toma 1200px como maximo, sino toma el 100% que tenga el dispositivo*/
    margin: 0 auto;
}
/*CSS para funcionalidad del menú*/
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    font-weight: bold;
}
.nav{
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 100;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}    
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: #f0f0f0;
    
}

nav li:first-child{
    margin-right: auto;
}

.barra-lateral{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.barra-lateral li{
    width: 100%;
}

.barra-lateral a{
    width: 100%;
}

.menu-boton{
    display: none;
}

@media (max-width: 800px) {
    .ocultarEnMovil{
        display: none;
    }
    .menu-boton{
        display: block;
    }
}
@media (max-width: 400px) {
    .barra-lateral{
        width: 100%;
    }
}


.imagen-fondo{
    /* min-height: 80vh; */
    background-image: url(/img/computadora.jpg);
    background-image: url(/img/pc11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    height: 600px;
}


/* body{
    min-height: 100vh;
    background-image: url(/PortafolioWeb/img/computadora.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.contenido-imagen-fondo{
   position: absolute;
    background-color:rgba(0,0,0,.4);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenido-imagen-fondo h2, 
.contenido-imagen-fondo p{
    color: var(--blanco);
    text-align: center;
    font-size: 3rem;/*Agregado*/
}
.contenido-imagen-fondo .ubicacion{
    display: flex;
    align-items: flex-end;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding:  1rem 3rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    width: 45vw;

    text-align: center;
    border:none;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px){
    .boton{
        width: auto;
        
    }
   
}
.boton:hover{
    cursor: pointer;
    background-color: var(--primario);
}
.boton svg{
    margin-left: .5rem;
}
.ubicacion {
    font-size: 1.5rem;
    font-weight: bold;
}

/*Descripciones*/
.header-descripciones{
    margin: 0 auto;
    margin-top: 1.4rem;
    margin-bottom: 3vw;
    text-align: center;
    width: 150px;
    border-bottom: 3px solid var(--primario);
}

.div-sobreMi{
}
.sobre-mi{
    width: 60%;
    height: auto;
    display: flex;

    justify-content: center;
    align-items: center;
    margin: 0 auto
}
.sobre-mi p{
    font-size: 1.1rem;
    color: var(--oscuro);
}
.foto img{
    width: 15rem;
    height: 15rem;
    margin-right: 2rem;
    border-radius: 50%;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54); /*Para chrome*/
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);/*Para firefox*/
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 1px;
  
}

.descripcion-sobremi{
    border:2px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem;
    background-color: var(--grisClaro);
    text-align: center;
}
.descripcion-sobremi h3{
    margin-bottom: 18px;
    font-size: 1.5rem;
}
.sombras{
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54); /*Para chrome*/
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);/*Para firefox*/
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;

}



@media (max-width: 1000px){
    .sobre-mi{
        width: 90%;
    }
}
@media (max-width: 620px){
    .sobre-mi{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        width: 90%;
        margin: 0 auto;
    }
    .foto img{
        margin-right: 0;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 12rem;
        height: 12rem;
    }
    
        
}

/*Footer*/
.footer{
    text-align: center;
}

.contenedor-proyectos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    
}

@media (max-width: 500px) {
    .contenedor-proyectos{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .proyectos{
        width: 80vw!important;
    }
    .titulo-proyecto{
        background-color: #3F0894!important;
        padding-top: 1.5rem!important;
        padding-bottom: 1.5rem!important;
    }
    .img-proyecto{
        height: 40vw!important;
       
    }
    .header-proyecto{
        margin-bottom: 2rem!important;
    }
} 
.proyectos{
    width: 35vw;
    /* height: 25vw; */
    justify-self: center;
  
    border-radius: .7rem;
    margin-bottom: 1.5rem;
    border-bottom: 3px solid var(--primario);
}
.img-proyecto{
    height: 20vw;
    width: 100%;
    border-bottom: 1px solid var(--secundario);
    /* border-radius: .7rem;  */
}

.titulo-proyecto{
    background-color: #3F0894;
    color: var(--blanco);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
   padding: 1rem;
  
}

.lenguajes-utilizados{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}
.items-lenguajes{
    height: 1.3rem;
    border-radius: 5px;
    
    margin-right: 1rem;
    margin-bottom: 4px; 
    padding: .3rem;
}

.csharp, .php{
    background-color: #3F0894;
    color: white;
}

.asp-net{
    background-color: #1B80C0;
    color: white;
}

.JavaScript{
    background-color: #EFD81D;
}
.ajax{
    background-color: #F47F27;
}
.bootstrap{
    background-color: #7818F7;
    color: white;
}
.joomla{
    background-color: #5594CF;
    color: white;
}
.css3{
    background-color: #2F53E7;
    color: white;
}
.html{
    background-color: #E6532D;
    color: white;
}
.seccion-sobremi{
    margin-bottom: 4rem;
}
.seccion-proyectos{
    background-color: var(--secundario);
    box-shadow: 0px 0px 20px 0px rgba(100,100, 100, 3);
    
    margin-bottom: 1rem;
}
.header-proyecto{
    padding-top: 1rem;
    color: white;
}